[user]
	name = Adam Liter
	email = adam.liter@gmail.com
	signkey = 0x98723A2089026CD6
[filter "media"]
	required = true
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[alias]
	pushall = push --recurse-submodule=on-demand
[push]
	default = simple
[core]
	editor = /usr/local/bin/emacs
	excludesfile = /Users/adamliter/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = true
[gpg]
	program = gpg2
