[user]
	name = Adam Liter
	email = adam.liter@gmail.com
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[alias]
	pushall = push --recurse-submodule=on-demand
[push]
	default = simple
[core]
	editor = emacs
