# ----------------------------------------------------------------------
# Ignore .DS_Store from Mac OS
# ----------------------------------------------------------------------
*.DS_Store

# ----------------------------------------------------------------------
# Ignore auto-save files from Emacs
# ----------------------------------------------------------------------
*~
\#*.*\#

# Local Variables:
# mode: conf
# coding: utf-8
# indent-tabs-mode: nil
# fill-column: 72
# End:
